// Fill in  your WiFi networks SSID and password
#define SECRET_SSID ""
#define SECRET_PASS ""

// Fill in the hostname of your AWS IoT broker (can be found in AWS IoT Settings page)
#define SECRET_BROKER ""